/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container_big{
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
