.barselona{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 184px;
    &_div{
        order: 1;
        width: 371px;
    }

    &_sarlavha{
        font-family: Raleway;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    
    &_text{
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        margin-bottom: 15px;

    }

    &_lorem{
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        margin-bottom: 15px;
    }

    &_span{
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #FF9619;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &_padding{
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: start;
        margin-top: 30px;
        padding: 15px 30px;
        background-color:#FF9619;
        color:#ffffff;
        width: 262px;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover{
            cursor: pointer;
            background-color: #f8ae52;

        }
    }
}

@media only screen and(max-width:375px) {
    .barselona{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    
        &_div{
            order: 1;
            width: 340px;
        }
    
        &_sarlavha{
            font-family: Raleway;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 15px;
        }
        
        &_text{
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #343434;
            margin-bottom: 8px;
    
        }
    
        &_lorem{
            font-family: Raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #343434;
            margin-bottom: 15px;
        }
    
        &_span{
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;            
            margin-bottom: 30px;
        }
    
        &_padding{
            margin: 0 auto; 
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 30px;
            padding: 15px 30px;
            background-color:#FF9619;
            color:#ffffff;
            width: 276px;
        }
    }
}