.vabros{
    background-color: #A9C2BE;
    position: relative;
    margin-top: 100px;
    max-height: 479px;

    &_big{
        background-color: #ffffff;
        width: 470px;
        height: 417px;
        margin-left: 600px;
        margin-top: -450px;
        margin-bottom: 31px;
        position: relative;
        z-index: 2;
        padding: 31px 49px 17px 50px;

        &::before{
            content: "";
            display: block;
            width: 118px;
            height: 131px;
            background-image: url(./../../img/Ðž.svg);
            @include devan (auto);
            margin-left: -120px;
            margin-top: -50px;
            position: absolute;
        }
    }

    &_text{
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        white-space: nowrap;
        
        color:#FF9619;
    }

    &_heidr{
        font-family: Raleway;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        white-space: nowrap;
        display: block;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    &_form{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 17px;
    }

    &_input_text{
        padding: 5px;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &_number{
        padding: 5px;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &_password{
        padding: 5px;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &_komm{
        padding: 5px;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #343434;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &_label{
        display: flex;
        width: 289px;
        height: 23px;
        font-family: Raleway;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 10px;
    }

    &_checkbox{
        margin-right: 10px;
    }

    &_submit{
        width: 209px;
        margin: 0 auto;
        height: 43px;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        background-color:#FF9619;
        border:none; 

        &:hover{
            background-color: #f8ae52;
            cursor: pointer;
        }       
    }
}

.form_span{
    position: fixed;
    background-color: rgb(24, 24, 24,70%);
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    right: 0;
}

.form_span1{
    display: none;
}

.form1{
    display: none;
}

.form{
    z-index: 100;
    position: fixed; 
    right: 31%;
    top: 80%;
}

@media only screen and(max-width:375px) {
  .vabros{
      &_img{
          display: none;
      }

      &_big{
        background-color: #ffffff;
        width: 340px;
        height: 320px;
        margin: 0;
        margin-top: 56px;
        margin-bottom: 56px;
        padding: 22px 35px 0px 17px;

        &::before{
            display: none;
        }
    }

    &_text{
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
    }

    &_heidr{
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        display: block;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 18px;
    }

    &_form{
        gap: 10px;
        margin: 0;
    }

    &_input_text{
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;     
    }

    &_number{
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0; 
    }

    &_password{
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0; 
    }

    &_komm{
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0; 
    }

    &_label{
        margin-top: 17px;
        font-family: Raleway;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
    }

    &_submit{
        font-family: Raleway;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: center;
        width: 180px;
        height: 36px;
        margin-top: 29px;    
        
        &:hover{
            background-color: #f8ae52;
            cursor: pointer;
        }
    }
  }  

  .form{
    z-index: 100;
    position: fixed; 
    right: 1%;
    top: 11%;
}
}